.DS_Store
*.pyc
**/src/main/resources/application.properties
**/src/main/resources/application-secure.properties
**/src/main/resources/log4j.properties
**/src/main/resources/application-pancan.properties
**/src/main/resources/application-aws-gdac.properties
**/src/main/resources/application-aws-public.properties
**/src/main/resources/phi-scanner-attributes.txt
**/src/main/resources/logback.xml
import-scripts/clinicalfile_utils.pyc
target
**/src/main/resources/naaccr*.json
