spring.batch.job.enabled=false

#server settings
server.address=
server.port=

#CRDB properties
crdb.survey_view=
crdb.survey_filename=
crdb.dataset_view=
crdb.dataset_filename=

#Oracle connection
crdb.username=
crdb.password=
crdb.connection_string=
