spring.batch.job.enabled=false
chunk=500

# DDP Endpoints
ddp.base_url=https://ddp.mskcc.org/api/v1/
ddp.cohorts.endpoint=cohorts/
ddp.cohorts.pt.endpoint=patients/
ddp.authcookie.endpoint=authenticate/login
ddp.pt.demographics.endpoint=patient/demographics/general/
ddp.pt.diagnosis.endpoint=patient/diagnosis/code/
ddp.pt.identifiers.endpoint=patient/id/
ddp.pt.radiation.endpoint=patient/treatment/procedure/radiation/
ddp.pt.chemo.endpoint=patient/treatment/medication/chemo/
ddp.pt.surgery.endpoint=patient/treatment/procedure/surgery/

# email properties
email.server=localhost
email.sender=
email.recipient=
email.subject=Failure in DDP Pipeline

# DDP thread pool sizes
async.DDP.thread.pool.size=50
async.DDP.thread.pool.max=50
processor.thread.pool.size=100
processor.thread.pool.max=100
