spring.batch.job.enabled=false
chunk=500

# DDP Filenames
ddp.clinical_filename=data_clinical_ddp.txt
ddp.timeline_chemotherapy_filename=data_timeline_ddp_chemotherapy.txt
ddp.timeline_radiation_filename=data_timeline_ddp_radiation.txt
ddp.timeline_surgery_filename=data_timeline_ddp_surgery.txt

# DDP Endpoints
ddp.base_url=https://ddp.mskcc.org/api/v1/
ddp.cohorts.endpoint=cohorts/
ddp.cohorts.pt.endpoint=patients/
ddp.authcookie.endpoint=authenticate/login
ddp.pt.demographics.endpoint=patient/demographics/general/
ddp.pt.diagnosis.endpoint=patient/diagnosis/code/
ddp.pt.identifiers.endpoint=patient/id/
ddp.pt.radiation.endpoint=patient/treatment/procedure/radiation/
ddp.pt.chemo.endpoint=patient/treatment/medication/chemo/
ddp.pt.surgery.endpoint=patient/treatment/procedure/surgery/

# email properties
email.server=localhost
email.sender=
email.recipient=
email.subject=Failure in DDP Pipeline

# DDP thread pool sizes
async.DDP.thread.pool.size=50
async.DDP.thread.pool.max=50
processor.thread.pool.size=100
processor.thread.pool.max=100

# DDP cohort IDs
ddp.cohort.map={"mskimpact":2033,"mskimpact_ped":1852, "mskimpact_heme":2033, "mskraindance":2033, "mskarcher":2033, "mskaccess":2033, "mskextract":2033}

# NAACCR mappings resource filenames
naaccr.ethnicity=naaccr_ethnicity.json
naaccr.race=naaccr_race.json
naaccr.sex=naaccr_sex.json

# Supplemental data filenames (MSKIMPACT only)
ddp.supp.dirname=ddp
ddp.supp.vital_status_filename=ddp_vital_status.txt
ddp.supp.age_filename=ddp_age.txt
ddp.supp.naaccr_filename=ddp_naaccr.txt
