spring.batch.job.enabled=false

chunk=

# dmp
dmp.server_name=
dmp.user_name=
dmp.password=
dmp.tokens.create_session=create_session
dmp.tokens.create_gml_session=create_gml_session

# dmp tokens for retrieving variants
dmp.tokens.retrieve_variants.impact=cbio_retrieve_variants
dmp.tokens.retrieve_variants.rdts=cbio_rdts_retrieve_variants
dmp.tokens.retrieve_variants.heme=cbio_retrieve_heme_variants
dmp.tokens.retrieve_variants.archer=cbio_archer_retrieve_variants
dmp.tokens.retrieve_variants.access=cbio_retrieve_access_variants
dmp.tokens.retrieve_gml_variants=gml_cbio_retrieve_variants

dmp.tokens.retrieve_segment_data=get_seg_data
dmp.tokens.retrieve_gml_segment_data=gml_get_seg_data
dmp.tokens.consume_sample=cbio_consume_sample
dmp.tokens.consume_gml_sample=gml_cbio_consume_sample
dmp.tokens.requeue.impact=cbio_requeue
dmp.tokens.requeue_gml_sample=gml_cbio_requeue

# master list
dmp.tokens.retrieve_master_list.route=get_cbio_signedout_samples
dmp.tokens.retrieve_master_list.impact=impact
dmp.tokens.retrieve_master_list.rdts=raindance
dmp.tokens.retrieve_master_list.heme=heme
dmp.tokens.retrieve_master_list.archer=archer
dmp.tokens.retrieve_master_list.access=access

# genome nexus
genomenexus.base=http://annotation.genomenexus.org/
genomenexus.isoform_query_parameter=isoformOverrideSource
genomenexus.enrichment_fields=hotspots,mutation_assessor
genomenexus.post_interval_size=1000

# email properties
email.server=localhost
email.sender=
email.recipient=
email.subject=Failure in CVR Pipeline
# for emails that dmp should be included on
dmp.email.sender=
dmp.email.recipient=

# computational pathology settings
comppath.wsv.baseurl=https://slides-dev.mskcc.org/viewer?ids=IMAGE_ID.svs@annotation=off

# smile connection properties

# smile publishing topic
smile.dmp_new_sample_topic=

# these properties are built into the smile nats message lib (github.com/mskcc/smile-messaging-java)
# smile publishing failures log file
smile.publishing_failures_filepath=

# smile nats ssl
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# smile nats connection proprties
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

