spring.batch.job.enabled=false

tmpdir=
chunk=

# dmp
dmp.server_name=
dmp.user_name=
dmp.password=
dmp.tokens.create_session=create_session
dmp.tokens.create_gml_session=create_gml_session

# dmp tokens for retrieving variants
dmp.tokens.retrieve_variants.impact=cbio_retrieve_variants
dmp.tokens.retrieve_variants.rdts=cbio_rdts_retrieve_variants
dmp.tokens.retrieve_variants.heme=cbio_retrieve_heme_variants
dmp.tokens.retrieve_variants.archer=cbio_archer_retrieve_variants
dmp.tokens.retrieve_gml_variants=gml_cbio_retrieve_variants

dmp.tokens.retrieve_segment_data=get_seg_data
dmp.tokens.retrieve_gml_segment_data=gml_get_seg_data
dmp.tokens.consume_sample=cbio_consume_sample
dmp.tokens.consume_gml_sample=gml_cbio_consume_sample
dmp.tokens.requeue.impact=cbio_requeue

# master list
dmp.tokens.retrieve_master_list.route=get_cbio_signedout_samples
dmp.tokens.retrieve_master_list.impact=impact
dmp.tokens.retrieve_master_list.rdts=raindance
dmp.tokens.retrieve_master_list.heme=heme
dmp.tokens.retrieve_master_list.archer=archer

# genome nexus
genomenexus.hgvs=http://annotation.genomenexus.org/hgvs/
genomenexus.xrefs=http://annotation.genomenexus.org/xrefs/
genomenexus.isoform_query_parameter=isoformOverrideSource
genomenexus.enrichment_fields=hotspots,mutation_assessor

# email properties
email.server=localhost
email.sender=
email.recipient=
email.subject=Failure in CVR Pipeline
# for emails that dmp should be included on
dmp.email.sender=
dmp.email.recipient=

# Absoulte URL to the redcap web application
redcap_base_url=
redcap_api_url_path=
# Relative URL path to the erase_project_data php module
redcap_erase_project_data_url_path=
redcap_username=
redcap_password=
redcap_login_hidden_input_name=

# RedCap mapping token for ID_MAPPING - any tables that we want to access need to be in this project
mapping_token=
# The name of the RedCap project that contains the metadata about the clinical attributes in RedCap
metadata_project=
# The name of the RedCap project that contains the namespace mapping of external column headers to normalized
namespace_project=

# The name of the RedCap project into which clinical data should be imported
redcap.project_title_for_cvr_clinical_data_import=mskimpact_data_clinical_cvr
