# format is two string values separated by a single <TAB>
# first value is cluster_account_id, second is credentials_filename
# Any line starting with # or empty after discarding leading whitespace is ignored
#
public	public-account.credentials
eks	eks-account.credentials
