spring.batch.job.enabled=false
chunk=10

# Absoulte URL to the redcap web application
redcap_base_url=
redcap_api_url_path=
# Superuser login is needed to get a session id to set cookie headers for the request to erase project data to succeed
redcap_username=
redcap_password=
redcap_login_hidden_input_name=

# RedCap mapping token for ID_MAPPING - any tables that we want to access need to be in this project
mapping_token=

# Absolute URL to CDD
cdd_base_url=
