spring.batch.job.enabled=false

#server properties
darwin.server=
darwin.port=
darwin.database=
darwin.schema=

#DB2 Connection
darwin.username=
darwin.password=
darwin.connection_string=

#Darwin properties
darwin.chunk_size=10
darwin.demographics_view=DEMOGRAPHICS_V
darwin.latest_activity_view=LATEST_ACTIVITY_V
darwin.pathology_dmp_view=PATHOLOGY_DMP_V
darwin.naaccr.ethnicity_mapping_table=NAACCR_ETHNICITY_CODE_MAPPING
darwin.naaccr.race_mapping_table=NAACCR_RACE_CODE_MAPPING
darwin.naaccr.sex_mapping_table=NAACCR_SEX_CODE_MAPPING
darwin.skcm_mskcc_2015_chant.staging_path_current_view=MEL_STAGING_PATH_CURR_V
darwin.skcm_mskcc_2015_chant.general_view=MEL_GENERAL_V
darwin.skcm_mskcc_2015_chant.primary_view=MEL_PRIMARY_V
darwin.skcm_mskcc_2015_chant.impact_view=MEL_IMPACT_V
darwin.skcm_mskcc_2015_chant.metastat_sites_view=MEL_METASTAT_SITES_V
darwin.skcm_mskcc_2015_chant.systemic_tx=MEL_SYSTEMIC_TX_V
darwin.skcm_mskcc_2015_chant.adjuvant_tx_view=MEL_ADJUVANT_TX_V
darwin.skcm_mskcc_2015_chant.rad_therapy_view=MEL_RAD_THERAPY_V
darwin.demographics_filename=data_clinical_supp_darwin_demographics.txt
darwin.genie_patient_filename=darwin_genie_patient.txt
darwin.genie_sample_filename=darwin_genie_sample.txt
darwin.age_filename=darwin_age.txt
darwin.skcm_mskcc_2015_chant_clinical_sample_filename=data_clinical_sample_darwin_skcm_mskcc_2015_chant.txt
darwin.skcm_mskcc_2015_chant_clinical_patient_filename=data_clinical_patient_darwin_skcm_mskcc_2015_chant.txt
darwin.skcm_mskcc_2015_chant_timeline_filename=data_timeline_skcm_mskcc_2015_chant.txt
darwin.icdo_view=ICDO_V
darwin.timeline_view=DMT_TIMELINE_BRAINSPINE_V
#between prefix and suffix brainspine caisis timeline filenames vary over these types: {diagnosis, specimen, status, surgery, treatment}
darwin.brainspine_timeline_filename_prefix=data_timeline_
darwin.brainspine_timeline_filename_suffix=_caisis_gbm.txt
darwin.clinical_view=DMT_CLINICAL_BRAINSPINE_V
darwin.brainspine_clinical_filename=data_clinical_supp_caisis_gbm.txt
darwin.medicaltherapy.pharmacy_druglist=IPILIMUMAB;PEMBROLIZUMAB;NIVOLUMAB;ATEZOLIZUMAB # drug names should be in all UPPERCASE
darwin.medicaltherapy_timeline_filename=data_timeline_medical_therapy.txt
darwin.medicaltherapy_clinical_filename=data_clinical_supp_medical_therapy.txt
darwin.medicaltherapy.skip_negative_dosage_records=true

darwin.mskimpact_suffix=%-IM%
darwin.mskimpact_heme_suffix=%-IH%
darwin.mskraindance_suffix=%-T%
darwin.mskarcher_suffix=%-A%

# For redcap metadata clinical attributes header generation
redcap_url=
mapping_token=
metadata_project=
namespace_project=

# Absoulte URL to the redcap web application
redcap_base_url=
redcap_api_url_path=

# RedCap mapping token for ID_MAPPING - any tables that we want to access need to be in this project
mapping_token=
# The name of the RedCap project that contains the metadata about the clinical attributes in RedCap
metadata_project=
# The name of the RedCap project that contains the namespace mapping of external column headers to normalized
namespace_project=
