spring.batch.job.enabled=false

#server properties
darwin.server=
darwin.port=
darwin.database=
darwin.schema=
darwin.driver=com.ibm.db2.jcc.DB2SimpleDataSource

#DB2 Connection
darwin.username=
darwin.password=

#Darwin properties
darwin.chunk_size=10
darwin.demographics_view=DEMOGRAPHICS_V
darwin.latest_activity_view=LATEST_ACTIVITY_V
darwin.pathology_dmp_view=PATHOLOGY_DMP_V
darwin.skcm_mskcc_2015_chant.staging_path_current_view=MEL_STAGING_PATH_CURR_V
darwin.skcm_mskcc_2015_chant.general_view=MEL_GENERAL_V
darwin.skcm_mskcc_2015_chant.primary_view=MEL_PRIMARY_V
darwin.skcm_mskcc_2015_chant.impact_view=MEL_IMPACT_V
darwin.skcm_mskcc_2015_chant.metastat_sites_view=MEL_METASTAT_SITES_V
darwin.skcm_mskcc_2015_chant.systemic_tx=MEL_SYSTEMIC_TX_V
darwin.demographics_filename=data_clinical_supp_darwin_demographics.txt
darwin.skcm_mskcc_2015_chant_clinical_filename=data_clinical_supp_darwin_skcm_mskcc_2015_chant.txt
darwin.skcm_mskcc_2015_chant_timeline_filename=data_timeline_skcm_mskcc_2015_chant_txt
darwin.icdo_view=ICDO_V
darwin.icdo_filename=darwinIcdoRecords.txt
darwin.timeline_view=DMT_TIMELINE_BRAINSPINE_V
darwin.timeline_bs_status=data_timeline_status_caisis_gbm.txt
darwin.timeline_bs_specimen=data_timeline_specimen_caisis_gbm.txt
darwin.timeline_bs_treatment=data_timeline_treatment_caisis_gbm.txt
darwin.timeline_bs_imaging=data_timeline_diagnostics_caisis_gbm.txt
darwin.timeline_bs_surgery=data_timeline_surgery_caisis_gbm.txt
darwin.clinical_view=DMT_CLINICAL_BRAINSPINE_V
darwin.clinical_filename=data_clinical_supp_caisis_gbm.txt

# For redcap metadata clinical attributes header generation
metadata_project=
namespace_project=

#NOTE: runs with two settings, -d </path/to/output_directory> -s [Cancer Study ID (mskimpact for default)]
